body{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    padding-left: 20px;
}
section{
    margin-top: 60px;
    margin-bottom: 150px;
}
h1{
    font-size: 50px;
    font-family: Abril Fatface;
    font-weight: 400;
    letter-spacing: 1px;
    padding-left: 10px;
    margin-top: 0;
}
h2{
    font-size:45px;
    font-family: 'Roboto';
    font-weight: 900;
}
.orange-color{
    color:orange;
}
.half-width{
    width: 50%;
    padding-left: 5px;
    float: left;
}
.first-heading{
    border-left: 4px solid tomato;
}
.read-more-button{
    text-decoration: none;
    padding: 15px 35px;
    background: rgb(54, 54, 207);
    color: white;
    font-weight: 600;
    border-radius: 10px;
    overflow: hidden;
}
.button{
    margin-top: 60px 0;
    display: block;
}
.image-area{
    width: 100%;
}
.mission-area h2{
    text-align: center;
}

.motive{
    width: 320px;
    height: 350px;
    box-sizing: border-box;
    justify-content: space-around;
    padding: 30px;
    border-radius: 20px;
    margin-right: 20px;
    
}
.motive p{
    font-size: 17px;
}
.motive img{
    width: 50%;
}

.mission{
    background: lightblue;
}
.vision{
    background: rgb(178, 230, 191);
}
.goals{
    background: rgb(245, 215, 215);
}