body{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}
section{
    margin-top: 60px;
    margin-bottom: 100px;
}
h1{
    font-size: 50px;
    font-family: Abril Fatface;
    font-weight: 400;
    letter-spacing: 1px;
    padding-left: 10px;
    margin-top: 0;
}
h2{
    font-size: 35px;
    font-weight: 900;
}
span{
    color: #ee2471;
}
.half-width{
    width: 50%;
    padding-left: 5px;
    float: left;
}
.image-width{
    width: 40%;
}
.content-width{
    width: 57%;
}
.first-heading{
    border-left: 4px solid #6c47da;
}
.read-more-button{
    text-decoration: none;
    padding: 15px 35px;
    background: #6c47da;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    overflow: hidden;
}
.read-more-button:hover{
    background: #ff3081;
    transition-duration: 1sec;
}
.button{
    margin: 50px 0;
}
.image-area{
    width: 100%;
}
.mission-area h2{
    text-align: center;
    font-size:45px;
    font-family: 'Roboto';
    font-weight: 900;
}

.motive{
    width: 330px;
    height: 350px;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 20px;
    margin-right: 20px;
    
}
.motive p{
    font-size: 17px;
}
.motive img{
    width: 50%;
}

.mission{
    background: lightblue;
}
.vision{
    background: rgb(178, 230, 191);
}
.goals{
    background: rgb(245, 215, 215);
}
.developer-image img{
    width: 90%;
}

.project{
    justify-content: justify;
}
.project h2{
   text-align: center;
   font-size: 40px;
   font-weight: 700; 
}
.project-gallery img{
    width: 100%;
}

.html{
    padding: 15px;
    border: 1px solid gray;
}

.footer-section{
    background: rgb(13, 13, 20);
    padding: 30px;
    text-align: center;
    color: white;
}
.footer-section h3{
    margin-top: 5px;
    font-size: 35px;
    font-family: Abril;
    font-style: italic;
}
.footer-section p{
    font-size: 12px;
    color: rgb(148, 130, 130);
}